# test runs requirements (versions we'll be testing against) - automatically updated by requires.io
coverage==4.2 # pytest-cov
pylama==7.0.9
pep8==1.7.0
pyflakes==1.2.3
pep257==0.7.0
mccabe==0.5.1
pyramid==1.7.0
pymlconf==0.4.0