# test runs requirements (versions we'll be testing against) - automatically updated by requires.io
coverage==4.5.1 # pytest-cov
pylama==7.5.5
pycodestyle==2.4.0
pyflakes==2.0.0
pydocstyle==2.1.1
mccabe==0.6.1
pyramid==1.9.2
